input {
    text-align: right;
}

.container {
    width: 50%;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
}

button {
    width: 80%;
    border-radius: 40px;
    display: block;
    margin: auto;
}