body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)),
        /* lighter */
        url(./images/bear.jpg) no-repeat center/cover;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
    margin: 0;
}



input {
    text-align: right;
    background: rgba(0, 0, 0, 0.30)!important;
    backdrop-filter: blur(15px)!important;
    border: 1px solid rgba(255, 255, 255, 0.25)!important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5)!important;

 color: white!important 
}

/* 
.container {
    width: 50%;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.30);

    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
} */

button {
    width: 80%;
    border-radius: 40px;
    display: block;
    margin: auto;
}