input {
    text-align: right;
}

.container {
    width: 50%;
    margin: auto;
    background-color: rgba(239, 241, 236, 0.554);
    text-align: center;
    padding: 20px;
    border: 3px solid rgb(224, 5, 5);
    border-radius: 20px;
}

button {
    width: 80%;
    border-radius: 40px;
    display: block;
    margin: auto;
}